.navbar-custom{
	max-height: 66px;
}
.navbar-custom .navbar-image {
	height: 150px;
	width: 150px;
}
.navbar-custom .navbar-brand{
	padding: 0;
	margin: 2px;
}
.navbar-custom .hide-on-main {
	display:none;
}
@media (max-width: 768px) {
	.navbar-custom .navbar-image {
		height: 50px;
		width: 50px;
		padding: 2px;
		background-color: rgba(255, 255, 255, .9);
		border-radius: 50%
	}
}

/*-----------------------------------------------------------------*/
.navbar-custom.top-nav-collapse .navbar-image {
	height: 45px;
	width: 45px;
	padding: 2px;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 50%;
}
.navbar-custom.top-nav-collapse {
	background-color: rgba(19, 26, 16, 0.85);
}
.navbar-custom.top-nav-collapse .navbar-brand {
    font-size: 16px;
}
.navbar-custom.top-nav-collapse .hide-on-main {
	display: inline-block;
}
.navbar-custom ul {
	background-color: transparent;
}

@media (max-width: 1050px) {
	.navbar-custom.top-nav-collapse .navbar-brand .hide-on-main {
		font-size: 12px;
		display: inline-block;
	}
	.navbar-custom a {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	.navbar-custom.top-nav-collapse .navbar-brand .hide-on-main {
		display: none;
	}
}

@media (max-width: 468px) {
	.navbar-custom {
		background-color: rgba(19, 26, 16, 0.7);
	}
	.navbar-custom.top-nav-collapse {
		background-color: rgba(19, 26, 16, 0.7);
	}
	.intro .intro-body {
			padding: 50px 0;
	}
}

/*-----------------------------------------------------------------*/
.color-yellow{
	color: yellow;
}
.color-blue {
	color: #00a8ff;
}
.color-yellow{
	color: yellow;
}


#sponsor {
/*	background: #625f5f;*/
	color: #434141;
	height: 300px;
	width: 100%;
	background: url(../img/8.jpg)  no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	opacity: .9;
}

.address{
	font-weight: bold;
	font-size: 16px;
}

#action2 {
	background-color: #625f5f;
	color: #fff;
}
#contact2 {
	max-height: 300px;
}

.split-padding6 {
    padding: 10px 0px 50px;
}
@media(max-width:768px) {
    .split-padding6 {
        padding: 10px 20px 50px;
    }
}
.split-padding6 {
	color: #111;
	font-weight: 600;
}

.split-padding6 {
	background-color: rgba(250, 250, 250, 0.7);
}
.quote{
	border-right: 3px solid #00a8ff;
}

#progress {
	background-color: #000;
}

/*
.project-video{
	overflow:hidden;
}
*/
/*
.project-video > iframe {
 	width: 100%; 
 	max-height: 450px;
	padding: 20px
}
*/
/*
.project-video > img {
	padding: 20px
}
*/
/*
.video-donate {
	position:absolute;
	bottom: 50px;
	right: 50px;
	opacity: 0.7;
}
*/

@media(max-width:768px) {
	#bgndVideo1 > div, #bgndVideo2 > div{
		position:absolute;
		padding: 50px 20px 50px;
	}
}

#project {
	padding: 50px 0 20px;
}

.project-progress{
	padding: 10px 40px 50px 40px;
}
.project-progress-bar {
    margin-bottom: 20px;
/*    background-color: #333;*/
}

.action-support{
	padding: 20px 50px 100px 50px;
}
.action-about{
	height: 100px;
}

#donation {
	display: none
}

.brand-heading-ukr{
	margin: 5px 0px 0px 0px;
}
.brand-heading-btn-ukr{
	margin: 30px 0px 0px 0px;
}
.btn-donate{
	color: yellow;
	font-weight: 700;
}
.h-no-transform {
    text-transform: none;
}

.about-padding{
	padding: 0px 30px 0px 30px;
}
.mission-padding{
	padding: 0px 70px 50px 70px;
}
.project-more-btn{
	color: #00a8ff;
	border: 1px solid #00a8ff
}

/* DONATE*/
.donate {
    display: table;
    color: #fff;
    width: 100%;
    height: 100%;
    background: #000 url(../img/5.jpg)  no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.donate .donate-body {
    display: table-cell;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
@media(min-width:768px) {
    .donate {
        padding: 0;
    }
}
@media(max-width:768px) {
	.donate .donate-body {
			padding: 30px 0;
	}
}
/*-------*/