.navbar-custom{
	max-height: 66px;
}
.navbar-custom .navbar-image {
	height: 150px;
	width: 150px;
}
.navbar-custom .navbar-brand{
	padding: 0;
	margin: 2px;
}
.navbar-custom .hide-on-main {
	display:none;
}
@media (max-width: 768px) {
	.navbar-custom .navbar-image {
		height: 50px;
		width: 50px;
		padding: 2px;
		background-color: rgba(255, 255, 255, .9);
		border-radius: 50%
	}
}

/*-----------------------------------------------------------------*/
.navbar-custom.top-nav-collapse .navbar-image {
	height: 45px;
	width: 45px;
	padding: 2px;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 50%;
}
.navbar-custom.top-nav-collapse {
	background-color: rgba(19, 26, 16, 0.85);
}
.navbar-custom.top-nav-collapse .navbar-brand {
    font-size: 16px;
}
.navbar-custom.top-nav-collapse .hide-on-main {
	display: inline-block;
}
.navbar-custom ul {
	background-color: transparent;
}

@media (max-width: 1050px) {
	.navbar-custom.top-nav-collapse .navbar-brand .hide-on-main {
		font-size: 12px;
		display: inline-block;
	}
	.navbar-custom a {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	.navbar-custom.top-nav-collapse .navbar-brand .hide-on-main {
		display: none;
	}
}


/*-----------------------------------------------------------------*/
.color-yellow{
	color: yellow;
}
.color-blue {
	color: #00a8ff;
}
.color-yellow{
	color: yellow;
}


#sponsor {
	background: #625f5f;
	color: #fff;
}

.address{
	font-weight: bold;
	font-size: 16px;
}

#action2 {
	background-color: #625f5f;
	color: #fff;
}
#contact2 {
	max-height: 300px;
}

