.navbar-custom.top-nav-collapse .navbar-image {
	height: 50px;
	width: 50px;
	opacity: 1;
}
.navbar-custom .navbar-image {
	height: 150px;
	width: 150px;
	opacity: .7;
}
.navbar-custom .navbar-brand{
	padding: 0;
	margin: 0;
}
.color-yellow{
	color: yellow;
}
.color-blue {
	color: #00a8ff;
}
.navbar-custom.top-nav-collapse .hide-on-main {
	display: inline-block;
}
.navbar-custom .hide-on-main {
	display:none;
}
@media (max-width: 768px) {
	.navbar-custom .navbar-image {
		height: 50px;
		width: 50px;
	}
}
.navbar-custom.top-nav-collapse {
	background-color: rgba(47, 57, 43, 0.97);
}